version: "3"
services: 
  app:
    build: ./app/
    image: event-planner-api:latest 
    container_name: event-planner-api
    restart: unless-stopped
    env_file:
    - ./app/.env
    volumes:
      - ./app:/app
    depends_on:
      - db
    networks:
      - event-planner-network
    healthcheck:
      test: ["CMD", "python", "-c", "import urllib.request; urllib.request.urlopen('http://localhost:8080/health')"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 20s
  web:
    image: nginx:latest
    container_name: event-planner-nginx
    restart: unless-stopped
    ports:
      - "80:80"
    depends_on:
      app:
        condition: service_healthy
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      # - ./nginx/ssl:/etc/nginx/ssl
    networks:
      - event-planner-network
  db:
    image: postgres:16-alpine
    container_name: event-planner-db
    restart: unless-stopped
    env_file:
      - ./app/.env
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    networks:
      - event-planner-network

volumes:
  postgres_data:

networks:
  event-planner-network:
    name: event-planner-network
    driver: bridge
