###Файл установки зависимостей###

# Основной фреймворк для создания API
fastapi==0.109.0

# ASGI-сервер для запуска FastAPI
uvicorn==0.27.0

# ORM для работы с базой данных (SQLAlchemy)
sqlalchemy>=2.0.46

# ORM высокого уровня, построенный на SQLAlchemy + Pydantic
sqlmodel>=0.0.32

# Драйвер PostgreSQL для Python
psycopg2-binary>=2.9.0

# Загрузка переменных окружения из .env файла
python-dotenv==1.0.0

# Валидация данных (используется внутри FastAPI)
pydantic_settings>=2.8